<section class="section_cta">
    <div class="container-large">
        <div class="padding-section-large">
            <div class="cta-wrapper">
                <div id="w-node-_887be050-9b89-4ec3-e3d7-500083e3ed3d-83e3ed39" class="cta_detail-content">
                    <div class="cta_content">
                        <div class="margin-bottom margin-small">
                            <h3 data-w-id="887be050-9b89-4ec3-e3d7-500083e3ed3e"
                                class="heading-style-h3 text-color-white">Discover Our Library<br></h3>
                        </div>
                        <p data-w-id="3478ce05-8d5b-4833-29ed-88f15480fe40" class="text-color-white">Embark on a journey
                            through our expansive collection of articles and let curiosity lead your path to innovation.
                        </p>
                    </div>
                    <a data-w-id="887be050-9b89-4ec3-e3d7-500083e3ed41" href="#"
                        class="button-secondary w-inline-block">
                        <div>Explore Now</div>
                    </a>
                </div>
                <div id="w-node-_887be050-9b89-4ec3-e3d7-500083e3ed44-83e3ed39"
                    data-w-id="887be050-9b89-4ec3-e3d7-500083e3ed44" class="cta_image-wrapper"><img
                        src="{{ url_for('static', filename='images/cta_image.webp') }}" loading="lazy"
                        sizes="(max-width: 767px) 90vw, 44vw"
                        srcset="{{ url_for('static', filename='images/cta_image-p-500.png') }} 500w, {{ url_for('static', filename='images/cta_image-p-800.png') }} 800w, {{ url_for('static', filename='images/cta_image.webp') }} 976w"
                        alt="Library 3D Ilustration" class="cta-image"></div>
            </div>
        </div>
    </div>
</section>