<div data-w-id="0f5f43c4-66ba-44a2-cea9-ee35e005ed41" data-animation="default" data-collapse="medium"
    data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar_fixed w-nav">
    <div class="container-large">
        <div class="navbar-wrapper">
            <a aria-label="IPMUGO Brand Logo" href="{{ url_for('home.home') }}" aria-current="page"
                class="nav-brand w-nav-brand w--current"><img
                    src="{{ url_for('static', filename='images/IPMU-WHite.webp')}}" loading="lazy" width="503"
                    height="257" alt="IPMUGO Digital Library" class="brand-logo is-white"><img
                    src="{{ url_for('static', filename='images/IPMU.webp')}}" loading="lazy" width="503" height="257"
                    alt="IPMUGO Digital Library" class="brand-logo is-color"></a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <ul role="list" class="nav_menu-items">
                    <li class="nav-item">
                        <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
                            <div class="nav-link w-dropdown-toggle">
                                <div>Publications</div>
                                <div class="icon_embed w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="10" viewbox="0 0 16 10" fill="none">
                                        <path
                                            d="M0.46967 0.969792C0.735936 0.703525 1.1526 0.679319 1.44621 0.897174L1.53033 0.969792L8 7.43912L14.4697 0.969792C14.7359 0.703525 15.1526 0.679319 15.4462 0.897174L15.5303 0.969792C15.7966 1.23606 15.8208 1.65272 15.6029 1.94633L15.5303 2.03045L8.53033 9.03045C8.26406 9.29672 7.8474 9.32092 7.55379 9.10307L7.46967 9.03045L0.46967 2.03045C0.176777 1.73756 0.176777 1.26269 0.46967 0.969792Z"
                                            fill="currentColor"></path>
                                    </svg></div>
                            </div>
                            <nav class="dropdown_list-wrapper w-dropdown-list">
                                <div class="container-large is-dropdown">
                                    <div class="dropdown_links-wrapper shadow-small">
                                        <ul role="list" class="dropdown_links">
                                            <li data-w-id="0f5f43c4-66ba-44a2-cea9-ee35e005ed52" class="dropdown-item">
                                                <a href="publications.html" class="dropdown-link w-inline-block">
                                                    <div class="icon_dropdown-item w-embed"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                            viewbox="0 0 21 21" fill="none">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M9.21133 9.21201L8.16433 12.559L11.5103 11.511L12.5583 8.16401L9.21133 9.21201ZM7.02033 14.452C6.82433 14.452 6.63233 14.375 6.48933 14.233C6.29233 14.035 6.22033 13.744 6.30433 13.479L7.89733 8.39001C7.97033 8.15401 8.15433 7.97101 8.38833 7.89801L13.4773 6.30501C13.7443 6.22001 14.0343 6.29301 14.2323 6.49001C14.4293 6.68801 14.5013 6.97901 14.4173 7.24401L12.8253 12.333C12.7523 12.568 12.5673 12.752 12.3333 12.825L7.24433 14.418C7.17033 14.441 7.09433 14.452 7.02033 14.452Z"
                                                                fill="currentColor"></path>
                                                            <mask id="mask0_33437_4966" style="mask-type:luminance"
                                                                maskunits="userSpaceOnUse" x="0" y="0" width="21"
                                                                height="21">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M0 0.00012207H20.7218V20.7218H0V0.00012207Z"
                                                                    fill="white"></path>
                                                            </mask>
                                                            <g mask="url(#mask0_33437_4966)">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M10.3608 1.50012C5.47476 1.50012 1.49976 5.47612 1.49976 10.3611C1.49976 15.2471 5.47476 19.2221 10.3608 19.2221C15.2468 19.2221 19.2218 15.2471 19.2218 10.3611C19.2218 5.47612 15.2468 1.50012 10.3608 1.50012ZM10.3608 20.7221C4.64776 20.7221 -0.000244141 16.0741 -0.000244141 10.3611C-0.000244141 4.64812 4.64776 0.00012207 10.3608 0.00012207C16.0738 0.00012207 20.7218 4.64812 20.7218 10.3611C20.7218 16.0741 16.0738 20.7221 10.3608 20.7221Z"
                                                                    fill="currentColor"></path>
                                                            </g>
                                                        </svg></div>
                                                    <div class="publication_dropdown-detail">
                                                        <div>Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                        <div class="text-size-small text-weight-light">
                                                            Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                    </div>
                                                </a>
                                                <div class="dropdown_hover-overlay"></div>
                                            </li>
                                            <li data-w-id="d1cd68e6-bec2-bb77-90fa-bd392c55adc1" class="dropdown-item">
                                                <a href="publications.html" class="dropdown-link w-inline-block">
                                                    <div class="icon_dropdown-item w-embed"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                            viewbox="0 0 21 21" fill="none">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M9.21133 9.21201L8.16433 12.559L11.5103 11.511L12.5583 8.16401L9.21133 9.21201ZM7.02033 14.452C6.82433 14.452 6.63233 14.375 6.48933 14.233C6.29233 14.035 6.22033 13.744 6.30433 13.479L7.89733 8.39001C7.97033 8.15401 8.15433 7.97101 8.38833 7.89801L13.4773 6.30501C13.7443 6.22001 14.0343 6.29301 14.2323 6.49001C14.4293 6.68801 14.5013 6.97901 14.4173 7.24401L12.8253 12.333C12.7523 12.568 12.5673 12.752 12.3333 12.825L7.24433 14.418C7.17033 14.441 7.09433 14.452 7.02033 14.452Z"
                                                                fill="currentColor"></path>
                                                            <mask id="mask0_33437_4966" style="mask-type:luminance"
                                                                maskunits="userSpaceOnUse" x="0" y="0" width="21"
                                                                height="21">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M0 0.00012207H20.7218V20.7218H0V0.00012207Z"
                                                                    fill="white"></path>
                                                            </mask>
                                                            <g mask="url(#mask0_33437_4966)">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M10.3608 1.50012C5.47476 1.50012 1.49976 5.47612 1.49976 10.3611C1.49976 15.2471 5.47476 19.2221 10.3608 19.2221C15.2468 19.2221 19.2218 15.2471 19.2218 10.3611C19.2218 5.47612 15.2468 1.50012 10.3608 1.50012ZM10.3608 20.7221C4.64776 20.7221 -0.000244141 16.0741 -0.000244141 10.3611C-0.000244141 4.64812 4.64776 0.00012207 10.3608 0.00012207C16.0738 0.00012207 20.7218 4.64812 20.7218 10.3611C20.7218 16.0741 16.0738 20.7221 10.3608 20.7221Z"
                                                                    fill="currentColor"></path>
                                                            </g>
                                                        </svg></div>
                                                    <div class="publication_dropdown-detail">
                                                        <div>Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                        <div class="text-size-small text-weight-light">
                                                            Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                    </div>
                                                </a>
                                                <div class="dropdown_hover-overlay"></div>
                                            </li>
                                            <li data-w-id="24fa2c55-9d71-c075-7372-f83745ed8235" class="dropdown-item">
                                                <a href="publications.html" class="dropdown-link w-inline-block">
                                                    <div class="icon_dropdown-item w-embed"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                            viewbox="0 0 21 21" fill="none">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M9.21133 9.21201L8.16433 12.559L11.5103 11.511L12.5583 8.16401L9.21133 9.21201ZM7.02033 14.452C6.82433 14.452 6.63233 14.375 6.48933 14.233C6.29233 14.035 6.22033 13.744 6.30433 13.479L7.89733 8.39001C7.97033 8.15401 8.15433 7.97101 8.38833 7.89801L13.4773 6.30501C13.7443 6.22001 14.0343 6.29301 14.2323 6.49001C14.4293 6.68801 14.5013 6.97901 14.4173 7.24401L12.8253 12.333C12.7523 12.568 12.5673 12.752 12.3333 12.825L7.24433 14.418C7.17033 14.441 7.09433 14.452 7.02033 14.452Z"
                                                                fill="currentColor"></path>
                                                            <mask id="mask0_33437_4966" style="mask-type:luminance"
                                                                maskunits="userSpaceOnUse" x="0" y="0" width="21"
                                                                height="21">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M0 0.00012207H20.7218V20.7218H0V0.00012207Z"
                                                                    fill="white"></path>
                                                            </mask>
                                                            <g mask="url(#mask0_33437_4966)">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M10.3608 1.50012C5.47476 1.50012 1.49976 5.47612 1.49976 10.3611C1.49976 15.2471 5.47476 19.2221 10.3608 19.2221C15.2468 19.2221 19.2218 15.2471 19.2218 10.3611C19.2218 5.47612 15.2468 1.50012 10.3608 1.50012ZM10.3608 20.7221C4.64776 20.7221 -0.000244141 16.0741 -0.000244141 10.3611C-0.000244141 4.64812 4.64776 0.00012207 10.3608 0.00012207C16.0738 0.00012207 20.7218 4.64812 20.7218 10.3611C20.7218 16.0741 16.0738 20.7221 10.3608 20.7221Z"
                                                                    fill="currentColor"></path>
                                                            </g>
                                                        </svg></div>
                                                    <div class="publication_dropdown-detail">
                                                        <div>Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                        <div class="text-size-small text-weight-light">
                                                            Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                    </div>
                                                </a>
                                                <div class="dropdown_hover-overlay"></div>
                                            </li>
                                            <li data-w-id="734491da-92af-5f43-3eff-0c80ce8576e4" class="dropdown-item">
                                                <a href="publications.html" class="dropdown-link w-inline-block">
                                                    <div class="icon_dropdown-item w-embed"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                            viewbox="0 0 21 21" fill="none">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M9.21133 9.21201L8.16433 12.559L11.5103 11.511L12.5583 8.16401L9.21133 9.21201ZM7.02033 14.452C6.82433 14.452 6.63233 14.375 6.48933 14.233C6.29233 14.035 6.22033 13.744 6.30433 13.479L7.89733 8.39001C7.97033 8.15401 8.15433 7.97101 8.38833 7.89801L13.4773 6.30501C13.7443 6.22001 14.0343 6.29301 14.2323 6.49001C14.4293 6.68801 14.5013 6.97901 14.4173 7.24401L12.8253 12.333C12.7523 12.568 12.5673 12.752 12.3333 12.825L7.24433 14.418C7.17033 14.441 7.09433 14.452 7.02033 14.452Z"
                                                                fill="currentColor"></path>
                                                            <mask id="mask0_33437_4966" style="mask-type:luminance"
                                                                maskunits="userSpaceOnUse" x="0" y="0" width="21"
                                                                height="21">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M0 0.00012207H20.7218V20.7218H0V0.00012207Z"
                                                                    fill="white"></path>
                                                            </mask>
                                                            <g mask="url(#mask0_33437_4966)">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M10.3608 1.50012C5.47476 1.50012 1.49976 5.47612 1.49976 10.3611C1.49976 15.2471 5.47476 19.2221 10.3608 19.2221C15.2468 19.2221 19.2218 15.2471 19.2218 10.3611C19.2218 5.47612 15.2468 1.50012 10.3608 1.50012ZM10.3608 20.7221C4.64776 20.7221 -0.000244141 16.0741 -0.000244141 10.3611C-0.000244141 4.64812 4.64776 0.00012207 10.3608 0.00012207C16.0738 0.00012207 20.7218 4.64812 20.7218 10.3611C20.7218 16.0741 16.0738 20.7221 10.3608 20.7221Z"
                                                                    fill="currentColor"></path>
                                                            </g>
                                                        </svg></div>
                                                    <div class="publication_dropdown-detail">
                                                        <div>Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                        <div class="text-size-small text-weight-light">
                                                            Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                    </div>
                                                </a>
                                                <div class="dropdown_hover-overlay"></div>
                                            </li>
                                            <li data-w-id="673d3cc2-bc51-ff9f-653c-fbefbbee0da0" class="dropdown-item">
                                                <a href="publications.html" class="dropdown-link w-inline-block">
                                                    <div class="icon_dropdown-item w-embed"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                            viewbox="0 0 21 21" fill="none">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M9.21133 9.21201L8.16433 12.559L11.5103 11.511L12.5583 8.16401L9.21133 9.21201ZM7.02033 14.452C6.82433 14.452 6.63233 14.375 6.48933 14.233C6.29233 14.035 6.22033 13.744 6.30433 13.479L7.89733 8.39001C7.97033 8.15401 8.15433 7.97101 8.38833 7.89801L13.4773 6.30501C13.7443 6.22001 14.0343 6.29301 14.2323 6.49001C14.4293 6.68801 14.5013 6.97901 14.4173 7.24401L12.8253 12.333C12.7523 12.568 12.5673 12.752 12.3333 12.825L7.24433 14.418C7.17033 14.441 7.09433 14.452 7.02033 14.452Z"
                                                                fill="currentColor"></path>
                                                            <mask id="mask0_33437_4966" style="mask-type:luminance"
                                                                maskunits="userSpaceOnUse" x="0" y="0" width="21"
                                                                height="21">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M0 0.00012207H20.7218V20.7218H0V0.00012207Z"
                                                                    fill="white"></path>
                                                            </mask>
                                                            <g mask="url(#mask0_33437_4966)">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M10.3608 1.50012C5.47476 1.50012 1.49976 5.47612 1.49976 10.3611C1.49976 15.2471 5.47476 19.2221 10.3608 19.2221C15.2468 19.2221 19.2218 15.2471 19.2218 10.3611C19.2218 5.47612 15.2468 1.50012 10.3608 1.50012ZM10.3608 20.7221C4.64776 20.7221 -0.000244141 16.0741 -0.000244141 10.3611C-0.000244141 4.64812 4.64776 0.00012207 10.3608 0.00012207C16.0738 0.00012207 20.7218 4.64812 20.7218 10.3611C20.7218 16.0741 16.0738 20.7221 10.3608 20.7221Z"
                                                                    fill="currentColor"></path>
                                                            </g>
                                                        </svg></div>
                                                    <div class="publication_dropdown-detail">
                                                        <div>Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                        <div class="text-size-small text-weight-light">
                                                            Indonesian Journal of Electrical Engineering and
                                                            Computer Science<br></div>
                                                    </div>
                                                </a>
                                                <div class="dropdown_hover-overlay"></div>
                                            </li>
                                        </ul>
                                        <div id="w-node-_0f5f43c4-66ba-44a2-cea9-ee35e005ed8e-e005ed41"
                                            class="dropdown_cta-wrapper">
                                            <div class="dropdown_cta-image"></div>
                                            <div class="dropdown_cta-detail">
                                                <div class="text-size-medium text-weight-semibold text-color-white">
                                                    This is some text inside of a div block.</div>
                                                <div class="text-color-white text-size-small text-weight-light">
                                                    This is some text inside of a div block.</div>
                                            </div>
                                            <div class="button-group justify-end">
                                                <a href="{{ url_for('publications.publications') }}"
                                                    class="button-secondary shadow-small w-inline-block">
                                                    <div>Explore More</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('articles.articles') }}" class="nav-link w-nav-link">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('about.about') }}" class="nav-link w-nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('contact.contact') }}" class="nav-link w-nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="menu-button-wrapper">
                    <div class="line _1"></div>
                    <div class="line _2"></div>
                    <div class="line _3"></div>
                </div>
            </div>
        </div>
    </div>
</div>