<div data-w-id="0f5f43c4-66ba-44a2-cea9-ee35e005ed41" data-animation="default" data-collapse="medium"
    data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar_fixed w-nav">
    <div class="container-large">
        <div class="navbar-wrapper">
            <a aria-label="IPMUGO Brand Logo" href="{{ url_for('home.home') }}" aria-current="page"
                class="nav-brand w-nav-brand w--current"><img
                    src="{{ url_for('static', filename='images/IPMU-WHite.webp')}}" loading="lazy" width="503"
                    height="257" alt="IPMUGO Digital Library" class="brand-logo is-white"><img
                    src="{{ url_for('static', filename='images/IPMU.webp')}}" loading="lazy" width="503" height="257"
                    alt="IPMUGO Digital Library" class="brand-logo is-color"></a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <ul role="list" class="nav_menu-items">
                    <li class="nav-item">
                        <a href="{{ url_for('publications.publications') }}"
                            class="nav-link w-nav-link">Publications</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('articles.articles') }}" class="nav-link w-nav-link">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('about.about') }}" class="nav-link w-nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('contact.contact') }}" class="nav-link w-nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="menu-button-wrapper">
                    <div class="line _1"></div>
                    <div class="line _2"></div>
                    <div class="line _3"></div>
                </div>
            </div>
        </div>
    </div>
</div>