<section class="section_relate-blog">
    <div class="container-large">
        <div class="padding-section-large">
            <div class="section_title-wrapper">
                <h3 data-w-id="f145ea2a-4029-5f35-de80-2837aeab7b14" style="opacity:0"
                    class="heading-style-h3 text-align-center text-color-secondary_900">Latest Insights<br></h3>
                <div data-w-id="f145ea2a-4029-5f35-de80-2837aeab7b17" style="opacity:0" class="text-align-center">
                    Delve into our curated collection of groundbreaking research and articles across diverse
                    disciplines.
                </div>
            </div>
            <div class="featured_blog-component">
                <div id="w-node-_99309a04-2d59-69e1-ffdb-a4b96ae605bb-26cec17c"
                    data-w-id="99309a04-2d59-69e1-ffdb-a4b96ae605bb" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <div class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">Heading</h3>
                            <p style="color:rgb(97,97,97)" class="text-size-small">Lorem ipsum dolor sit amet,
                                consectetur adipiscing
                                elit.</p>
                        </div>
                        <div class="featured_blog-thumbnail"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-500.png')}} 500w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-800.png')}} 800w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}} 976w">
                        </div>
                    </div>
                </div>
                <div id="w-node-_5c55bfdc-6178-07e8-c2f8-5e7b48e98621-26cec17c"
                    data-w-id="5c55bfdc-6178-07e8-c2f8-5e7b48e98621" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <div class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">Heading</h3>
                            <p style="color:rgb(97,97,97)" class="text-size-small">Lorem ipsum dolor sit amet,
                                consectetur adipiscing
                                elit.</p>
                        </div>
                        <div class="featured_blog-thumbnail"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-500.png')}} 500w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-800.png')}} 800w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}} 976w">
                        </div>
                    </div>
                </div>
                <div id="w-node-f7948769-5c9d-058d-e5fb-6a4bd49de0d3-26cec17c"
                    data-w-id="f7948769-5c9d-058d-e5fb-6a4bd49de0d3" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <div class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">Heading</h3>
                        </div>
                        <div class="featured_blog-thumbnail is-small"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="i{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-500.png')}} 500w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-800.png')}} 800w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}} 976w">
                        </div>
                    </div>
                </div>
                <div id="w-node-_31d12986-d4e3-7a0a-1025-7c9d0b61d05d-26cec17c"
                    data-w-id="31d12986-d4e3-7a0a-1025-7c9d0b61d05d" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <div class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">Heading</h3>
                        </div>
                        <div class="featured_blog-thumbnail is-small"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="{{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-500.png')}} 500w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733-p-800.png')}} 800w, {{url_for('static', filename='images/male-and-female-student-doing-book-research-10255733.webp')}} 976w">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>