<section class="section_relate-blog">
    <div class="container-large">
        <div class="padding-section-large">
            <div class="section_title-wrapper">
                <h3 data-w-id="f145ea2a-4029-5f35-de80-2837aeab7b14" style="opacity:0"
                    class="heading-style-h3 text-align-center text-color-secondary_900">Latest Insights<br></h3>
                <div data-w-id="f145ea2a-4029-5f35-de80-2837aeab7b17" style="opacity:0" class="text-align-center">
                    Delve into our curated collection of groundbreaking research and articles across diverse
                    disciplines.
                </div>
            </div>
            <div class="featured_blog-component">
                <div id="w-node-_99309a04-2d59-69e1-ffdb-a4b96ae605bb-26cec17c"
                    data-w-id="99309a04-2d59-69e1-ffdb-a4b96ae605bb" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <a href="https://blog.mdpi.com/2023/03/06/spotlight-on-applied-sciences/"
                        class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">Spotlight on Applied Sciences
                            </h3>
                            <p style="color:rgb(97,97,97)" class="text-size-small line-clamp-2">Our spotlight series
                                highlights and
                                promotes important aspects of our journals here at MDPI. This post takes a closer
                                look at Applied Sciences.</p>
                        </div>
                        <div class="featured_blog-thumbnail"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/23CORP-Blog-Banner-23-11-24-14-applied-sciences-uai-258x144.jpg')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="{{url_for('static', filename='images/23CORP-Blog-Banner-23-11-24-14-applied-sciences-uai-258x144.jpg')}} 500w, {{url_for('static', filename='images/23CORP-Blog-Banner-23-11-24-14-applied-sciences-uai-258x144.jpg')}} 800w, {{url_for('static', filename='images/23CORP-Blog-Banner-23-11-24-14-applied-sciences-uai-258x144.jpg')}} 976w">
                        </div>
                    </a>
                </div>
                <div id="w-node-_5c55bfdc-6178-07e8-c2f8-5e7b48e98621-26cec17c"
                    data-w-id="5c55bfdc-6178-07e8-c2f8-5e7b48e98621" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <a href="https://researcher.life/blog/article/10-best-academic-blogs-every-researcher-must-subscribe-to-in-2023/"
                        class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">10 best academic blogs every
                                researcher must subscribe to in 2023
                            </h3>
                            <p style="color:rgb(97,97,97)" class="text-size-small line-clamp-2">While being an early
                                career
                                researcher can be exciting, it can also prove to be challenging at times. On the one
                                hand,
                                you have to meet your professional commitments, including conducting research,
                                publishing papers, and attending
                                conferences and on the other hand, you also have to keep up with everything that is
                                happening in the world of science
                                and research, including emerging trends, new technologies, and possible funding
                                opportunities.</p>
                        </div>
                        <div class="featured_blog-thumbnail"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/pexels-magda-ehlers-1339845-scaled.webp')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="{{url_for('static', filename='images/pexels-magda-ehlers-1339845-scaled.webp')}} 500w, {{url_for('static', filename='images/pexels-magda-ehlers-1339845-scaled.webp')}} 800w, {{url_for('static', filename='images/pexels-magda-ehlers-1339845-scaled.webp')}} 976w">
                        </div>
                    </a>
                </div>
                <div id="w-node-f7948769-5c9d-058d-e5fb-6a4bd49de0d3-26cec17c"
                    data-w-id="f7948769-5c9d-058d-e5fb-6a4bd49de0d3" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <a href="https://researcher.life/blog/article/how-researchers-can-help-shape-policy-decisions/"
                        class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">How researchers can help
                                shape policy decisions
                            </h3>
                        </div>
                        <div class="featured_blog-thumbnail is-small"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/scott-graham-OQMZwNd3ThU-unsplash-1.webp')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="i{{url_for('static', filename='images/scott-graham-OQMZwNd3ThU-unsplash-1.webp')}} 500w, {{url_for('static', filename='images/scott-graham-OQMZwNd3ThU-unsplash-1.webp')}} 800w, {{url_for('static', filename='images/scott-graham-OQMZwNd3ThU-unsplash-1.webp')}} 976w">
                        </div>
                    </a>
                </div>
                <div id="w-node-_31d12986-d4e3-7a0a-1025-7c9d0b61d05d-26cec17c"
                    data-w-id="31d12986-d4e3-7a0a-1025-7c9d0b61d05d" style="opacity:0;background-color:rgb(255,255,255)"
                    class="featured_blog-card">
                    <a href="https://www.editage.com/insights/40-must-read-academic-blogs-for-researchers-and-phd-students"
                        class="featured_blog-wrapper">
                        <div class="featured_blog-detail">
                            <h3 style="color:rgb(33,33,33)" class="featured_article-title">40 Must-read academic blogs
                                for researchers and PhD students
                            </h3>
                        </div>
                        <div class="featured_blog-thumbnail is-small"><img class="featured_blog-image"
                                src="{{url_for('static', filename='images/40 Must-read academic blogs for researchers and PhD students (original)_0.jpg')}}"
                                width="976" height="786" alt="Library 3D Ilustration"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 43vw, (max-width: 991px) 44vw, 29vw"
                                loading="lazy"
                                srcset="{{url_for('static', filename='images/40 Must-read academic blogs for researchers and PhD students (original)_0.jpg')}} 500w, {{url_for('static', filename='images/40 Must-read academic blogs for researchers and PhD students (original)_0.jpg')}} 800w, {{url_for('static', filename='images/40 Must-read academic blogs for researchers and PhD students (original)_0.jpg')}} 976w">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>