{% extends 'dashboard-layout.html' %} {% block header %}
<h1>{% block title %}In Review{% endblock %}</h1>
{% endblock %} {% block content %}

<section class="section_dashboard">
    <div class="title-wrapper">
        <h2>In Review</h2>

        <form method="post" id="submission_update" action="{{ url_for('submission.update_submission') }}">
            <button type="submit" class="btn-add" role="link" aria-label="Update Submission"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M12 9V11.382C12 11.7607 12.214 12.107 12.5528 12.2764L14 13M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 8.13401 8.13401 5 12 5C15.866 5 19 8.13401 19 12Z"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                </svg>
                <span>Update</span></button>
        </form>
        {% include 'alert.html'%}
    </div>
    <div class="content-wrapper">
        <div class="content-head">
            <div class="field-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M18 15.7661L19.5373 17.3034C20.1542 17.9203 20.1542 18.9204 19.5373 19.5373C18.9204 20.1542 17.9203 20.1542 17.3034 19.5373L15.766 18M4 10.8C4 7.04446 7.04446 4 10.8 4C14.5555 4 17.6 7.04446 17.6 10.8C17.6 14.5555 14.5555 17.6 10.8 17.6C7.04446 17.6 4 14.5555 4 10.8Z"
                        stroke="#28303F" stroke-width="1.5" stroke-linecap="round" />
                </svg>
                <input type="text" id="search" name="search" placeholder="Search with title..."
                    class="input-field search" />
            </div>
            <div class="field-wrapper">
                <select class="select-field" aria-label="Show Per Page">
                    <option>15</option>
                    <option>50</option>
                    <option>100</option>
                </select>

            </div>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="row" role="rowheader">ID <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Title <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Journal <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Date Submitted <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submissions %}
                    <tr
                        class="{% if submission['action'] == 'reject' %}row-reject{% elif submission['action'] == 'decline' %} row-decline{% endif %}">
                        <td>{{submission['submission_id']}}</td>
                        <td>{{submission['title']}}{{submission['action']}}</td>
                        <td>{{submission['journal_name']}}</td>
                        <td>{{submission['date_submitted']}}</td>
                        <td class="td-action">
                            <form method="post" action="{{ url_for('submission.delete_submission') }}">
                                <input type="hidden" id="action" value="reject" name="action" />
                                <input type="hidden" name="submission_id" id="submission_id"
                                    value="{{submission['_id']}}" />
                                <button type="submit">
                                    Reject
                                </button>
                            </form>
                            <form method="post" action="{{ url_for('submission.delete_submission') }}">
                                <input type="hidden" id="action" value="decline" name="action" />
                                <input type="hidden" name="submission_id" id="submission_id"
                                    value="{{submission['_id']}}" />
                                <button type="submit">
                                    Decline
                                </button>
                            </form>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}