{% extends 'dashboard-layout.html' %} {% block header %}
<h1>{% block title %}In Review{% endblock %}</h1>
{% endblock %} {% block content %}

<section class="section_dashboard">
    <div class="title-wrapper">
        <h2>In Review</h2>
        <a href="" class="btn-add" role="link" aria-label="Update Submission"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                    d="M12 9V11.382C12 11.7607 12.214 12.107 12.5528 12.2764L14 13M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 8.13401 8.13401 5 12 5C15.866 5 19 8.13401 19 12Z"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            </svg>
            <span>Update</span></a>
    </div>
    <div class="content-wrapper">
        <div class="content-head">
            <div class="field-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M18 15.7661L19.5373 17.3034C20.1542 17.9203 20.1542 18.9204 19.5373 19.5373C18.9204 20.1542 17.9203 20.1542 17.3034 19.5373L15.766 18M4 10.8C4 7.04446 7.04446 4 10.8 4C14.5555 4 17.6 7.04446 17.6 10.8C17.6 14.5555 14.5555 17.6 10.8 17.6C7.04446 17.6 4 14.5555 4 10.8Z"
                        stroke="#28303F" stroke-width="1.5" stroke-linecap="round" />
                </svg>
                <input type="text" id="search" name="search" placeholder="Search with title..."
                    class="input-field search" />
            </div>
            <div class="field-wrapper">
                <select class="select-field" aria-label="Show Per Page">
                    <option>15</option>
                    <option>50</option>
                    <option>100</option>
                </select>

            </div>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="row" role="rowheader">ID <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Title <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Journal <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Date Submitted <span class="sort-icon">
                                <svg class="asc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <svg class="desc" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <path d="M8 10L12 6M12 6L16 10M12 6V18" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></th>
                        <th scope="row" role="rowheader">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>IJAAS</td>
                        <td>IAAS</td>
                        <td>111</td>
                        <td class="td-action">
                            <button type="button" class="btn-action action-edit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M8.75234 21H19M11.7844 5.31171C11.7844 5.31171 11.7844 6.94634 13.419 8.58096C15.0537 10.2156 16.6883 10.2156 16.6883 10.2156M5.31963 17.9881L8.75234 17.4977C9.2475 17.4269 9.70636 17.1975 10.06 16.8438L18.3229 8.58096C19.2257 7.67818 19.2257 6.21449 18.3229 5.31171L16.6883 3.67708C15.7855 2.77431 14.3218 2.77431 13.419 3.67708L5.15616 11.94C4.80248 12.2936 4.57305 12.7525 4.50231 13.2477L4.01193 16.6804C3.90295 17.4432 4.5568 18.097 5.31963 17.9881Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </button>



                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>IJAAS</td>
                        <td>IAAS</td>
                        <td>111</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}