{% extends 'frontend/layout/main-layout.html' %}
{% block html %}
<html data-wf-page="659fa49412695fa33d4f3683" data-wf-site="659ac690a512d75c923b3d93" lang="en">
{% endblock %}
{% block header %}
{% block meta_title %}About {% endblock %}
{% block meta_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block og_title %}About {% endblock %}
{% block og_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block twitter_title %}About {% endblock %}
{% block twitter_description %}Access the latest knowledge in applied science, electrical engineering, computer science
and information technology,
education, and health. {% endblock %}

{% endblock %}

{% block content %}
<section class="section_hero-about">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="hero_about-wrapper">
        <div class="hero_about-detail">
          <div class="max-width-medium">
            <div class="margin-bottom margin-medium">
              <h1 data-w-id="c6008726-a807-f06d-0ad2-0b8153800e01" style="opacity:0"
                class="heading-style-h1 text-color-white">About</h1>
            </div>
            <h2 data-w-id="b827f36e-4fce-1e68-3111-5217413cdb32" style="opacity:0"
              class="text-size-medium text-weight-regular text-color-secondary_100">Welcome to IPMUGO Digital Library,
              your premier destination for cutting-edge engineering knowledge and research. Our
              platform bridges the gap between academic theory and practical application, offering a diverse collection
              of articles,
              studies, and resources.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_about">
  <div class="container-large">
    <div data-w-id="3c6609bc-8dc5-0c09-8360-57570ba33153" style="opacity:0" class="about_image-wrapper shadow-small">
      <img src="{{url_for('static', filename='images/about.png')}}" loading="lazy" alt="" class="about-image">
    </div>
    <div class="about_detail-content">
      <div class="about_detail-wrapper">
        <div id="w-node-_63d65912-3ace-f557-b69b-f560c9a5296b-3d4f3683" class="about_content-wrapper">
          <h2 data-w-id="70fa6b93-6533-802a-7737-7e89071c329b" style="opacity:0"
            class="heading-style-h3 text-color-secondary_900">Vision</h2>
          <p data-w-id="35e68b70-fc23-477b-ebdd-67eb28d3715e" style="opacity:0">To be the leading digital resource for
            engineering knowledge, inspiring a new generation of thinkers, creators, and
            innovators.</p>
        </div>
        <div id="w-node-_189abef9-8f1e-f17d-9a38-47cd175557d5-3d4f3683" class="about_content-wrapper">
          <h2 data-w-id="2eadcd61-89f1-8e46-2577-61b52bfcafc3" style="opacity:0"
            class="heading-style-h3 text-color-secondary_900">Mission</h2>
          <p data-w-id="189abef9-8f1e-f17d-9a38-47cd175557d8" style="opacity:0">To curate and provide access to a
            comprehensive collection of engineering resources, fostering an environment of
            learning and growth for individuals and communities worldwide.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_statistic">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="statistic-wrapper">
        <div id="w-node-_157b500d-2d2d-56fa-7bba-ad71f6e9181f-3d4f3683" data-w-id="157b500d-2d2d-56fa-7bba-ad71f6e9181f"
          style="opacity:0" class="statistic_content-wrapper">
          <div
            style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="statistic-content">
            <h3 class="text-color-white text-align-center heading-style-h3">18K</h3>
            <div class="text-color-secondary_100">This is some text inside of a div block.</div>
          </div>
        </div>
        <div id="w-node-_0a697abf-d398-6c13-2e16-df791effcb99-3d4f3683" data-w-id="0a697abf-d398-6c13-2e16-df791effcb99"
          style="opacity:0" class="statistic_content-wrapper">
          <div
            style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="statistic-content">
            <h3 class="text-color-white text-align-center heading-style-h3">200K</h3>
            <div class="text-color-secondary_100">This is some text inside of a div block.</div>
          </div>
        </div>
        <div id="w-node-_56697e68-3169-5e4b-a90e-c4bd3e15e43b-3d4f3683" data-w-id="56697e68-3169-5e4b-a90e-c4bd3e15e43b"
          style="opacity:0" class="statistic_content-wrapper">
          <div
            style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="statistic-content">
            <h3 class="text-color-white text-align-center heading-style-h3">10K</h3>
            <div class="text-color-secondary_100">This is some text inside of a div block.</div>
          </div>
        </div>
        <div id="w-node-cdbab199-ba4a-93c7-a217-42039abfa201-3d4f3683" data-w-id="cdbab199-ba4a-93c7-a217-42039abfa201"
          style="opacity:0" class="statistic_content-wrapper">
          <div
            style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="statistic-content">
            <h3 class="text-color-white text-align-center heading-style-h3">500K</h3>
            <div class="text-color-secondary_100">This is some text inside of a div block.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_how-work">
  <div class="container-large">
    <div class="padding-section-large">
      <div class="how_work-wrapper">
        <div id="w-node-_81976c46-33f4-6008-f508-7064fb51c655-3d4f3683" class="how_work-content">
          <h2 data-w-id="74ede9fe-45c0-6353-aefc-73f4dbc24036"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="heading-style-h3 text-color-secondary_900">Why IPMUGO Digital Library?</h2>
          <div data-w-id="ff1579be-f30e-fb31-2228-dea8637fa2df"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="rich_text-content w-richtext">
            <p>In a world teeming with information, the IPMUGO Digital Library stands out as a beacon of curated
              knowledge in
              the engineering realm. We are not just a library; we are a community of passionate learners and experts
              dedicated to the relentless pursuit of innovation and understanding.</p>
            <p><strong>Our Features:</strong></p>
            <ul role="list">
              <li><strong>Comprehensive Collection:</strong> Dive into our extensive repository of engineering articles,
                research papers, and publications, meticulously organized to facilitate easy navigation and discovery.
              </li>
              <li><strong>Expert Contributions:</strong> Gain insights from leading experts in various engineering
                disciplines, ensuring you have access to credible and high-quality content.</li>
              <li><strong>Interactive Learning:</strong> Engage with interactive materials and dynamic content that
                bring
                complex engineering concepts to life.</li>
              <li><strong>Cutting-Edge Updates:</strong> Stay ahead of the curve with the latest findings and
                developments in
                the engineering sector, sourced from reputable and authoritative channels.</li>
            </ul>
          </div><a data-w-id="2a945d55-fe92-cac6-0768-23121a53d274" style="opacity: 0;" href="#"
            class="button-primary w-inline-block">
            <div>Explore Now</div>
          </a>
        </div>
        <div id="w-node-_16aa0681-b4fb-fd2d-7e82-0f56f3966baf-3d4f3683" data-w-id="16aa0681-b4fb-fd2d-7e82-0f56f3966baf"
          style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          class="how_work-content"><img
            src="https://assets-global.website-files.com/659ac690a512d75c923b3d93/65aa3f743ec456b90d77dcf4_why_ipmu.png"
            loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 45vw"
            srcset="https://assets-global.website-files.com/659ac690a512d75c923b3d93/65aa3f743ec456b90d77dcf4_why_ipmu-p-500.png 500w, https://assets-global.website-files.com/659ac690a512d75c923b3d93/65aa3f743ec456b90d77dcf4_why_ipmu-p-800.png 800w, https://assets-global.website-files.com/659ac690a512d75c923b3d93/65aa3f743ec456b90d77dcf4_why_ipmu-p-1080.png 1080w, https://assets-global.website-files.com/659ac690a512d75c923b3d93/65aa3f743ec456b90d77dcf4_why_ipmu-p-1600.png 1600w, https://assets-global.website-files.com/659ac690a512d75c923b3d93/65aa3f743ec456b90d77dcf4_why_ipmu.png 1792w"
            alt="Why IPMUGO Digital Library?" class="how_work-image"></div>
      </div>
    </div>
  </div>
</section>
{%include 'frontend/components/related_blog.html'%}
{%include 'frontend/components/cta.html'%}
{% endblock %}