{% extends 'frontend/layout/main-layout.html' %}
{% block html %}
<html data-wf-page="659fa65e12695fa33d5029ba" data-wf-site="659ac690a512d75c923b3d93" lang="en">
{% endblock %}
{% block header %}
{% block meta_title %}Articles {% endblock %}
{% block meta_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block og_title %}Articles {% endblock %}
{% block og_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block twitter_title %}Articles {% endblock %}
{% block twitter_description %}Access the latest knowledge in applied science, electrical engineering, computer science
and information technology,
education, and health. {% endblock %}
{% block other_script%}
<script src="https://cdn.jsdelivr.net/npm/@finsweet/attributes-rangeslider@1/rangeslider.js"></script>
{%endblock%}


{% endblock %}

{% block content %}
<section class="section_hero-articles">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="hero_articles-wrapper">
        <div class="hero_articles-detail">
          <div class="max-width-medium">
            <div class="margin-bottom margin-small">
              <h1 data-w-id="c6008726-a807-f06d-0ad2-0b8153800e01" style="opacity:0"
                class="heading-style-h1 text-color-white">Articles</h1>
            </div>
            <h2 data-w-id="b827f36e-4fce-1e68-3111-5217413cdb32" style="opacity:0"
              class="text-size-medium text-weight-regular text-color-secondary_100">Access the latest knowledge in
              applied science, electrical engineering, computer science and information technology, education, and
              health.</h2>
          </div>
          <div class="max-width-medium">
            <div data-w-id="7cc455f8-29e1-b72e-bc69-57a9ea160b5b" style="opacity:0" class="form_search-block w-form">
              <form id="search-form" name="search-form" data-name="Search Form" method="post" class="search_home-form"
                data-wf-page-id="659fa65e12695fa33d5029ba" data-wf-element-id="7cc455f8-29e1-b72e-bc69-57a9ea160b5c">
                <input class="search_input-field w-input" maxlength="256" name="Search" data-name="Search"
                  placeholder="Search for articles ...." type="text" id="Search"><input type="submit" data-wait=""
                  class="search_home-submit w-button" value="Search">
              </form>

            </div>
            <div data-w-id="977685db-9e01-4f30-edde-010b18a8e541" style="opacity:0" class="button-group justify-end">
              <div class="margin-top margin-small">
                <a href="{{url_for('advanced.advanced')}}" class="advanced-link">Advanced Search</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_articles">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="aricles-wrapper">
        <div id="w-node-_0d7d8f28-dab5-3061-4274-26bbd1539705-3d5029ba" class="article_filter-sticky">
          <div id="w-node-f10399ce-fe8b-ca50-ebd6-eb41f2aa99f5-3d5029ba"
            data-w-id="f10399ce-fe8b-ca50-ebd6-eb41f2aa99f5" style="opacity:0" class="article_filter-wrapper">
            <div class="article_filter-form w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" class="article-filter"
                data-wf-page-id="659fa65e12695fa33d5029ba" data-wf-element-id="6b3d023c-f639-596b-3c3b-5d9f0c62a0fc">
                <div class="article_search-wrapper">
                  <div class="filter-title"><img src="{{url_for('static', filename='images/Filter.webp')}}"
                      loading="lazy" alt="Filter Icon" class="filter-icon">
                    <h3 class="text-size-medium text-weight-semibold text-color-secondary_900">Filters article</h3>
                  </div><input class="field-input w-input" maxlength="256" name="Search" data-name="Search"
                    placeholder="Search with article ..." type="text" id="Search-Article">
                </div>
                <div class="divide"></div>
                <div class="filter_checkbox-wrapper">
                  <div class="filter-title space-between">
                    <h3 class="text-size-medium text-weight-semibold text-color-secondary_900">Years</h3><img
                      src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" alt="FAQ Arrow"
                      class="filter-icon">
                  </div>
                  <div class="filter_checkbox-content">
                    <div data-current="Tab 2" data-easing="ease" data-duration-in="300" data-duration-out="100"
                      class="tabs-year w-tabs">
                      <div class="tabs-menu w-tab-menu">
                        <a data-w-tab="Tab 1" class="year_tabs-wrapper w-inline-block w-tab-link w--current">
                          <div>Single Year</div>
                        </a>
                        <a data-w-tab="Tab 2" class="year_tabs-wrapper w-inline-block w-tab-link ">
                          <div>Range Year</div>
                        </a>
                      </div>
                      <div class="tabs-content w-tab-content">
                        <div data-w-tab="Tab 1" class="tabs-panel w-tab-pane  w--tab-active">
                          <div class="tabs_single-year">
                            {% for year in articles['aggrs']['years'] | sort(attribute='_id')%}
                            <label class="button_single-year w-radio">
                              <div
                                class="w-form-formradioinput w-form-formradioinput--inputType-custom single_year-radio w-radio-input">
                              </div><input type="radio" data-name="{{year['_id']}}" id="{{year['_id']}}" name="year"
                                style="opacity:0;position:absolute;z-index:-1" value="{{year['_id']}}"
                                onchange="updateFilterWithYear(this.value)"><span class="single_year-label w-form-label"
                                for="year">{{year['_id']}}</span>
                            </label>
                            {%endfor%}
                          </div>
                        </div>
                        <div data-w-tab="Tab 2" class="tabs-panel w-tab-pane">
                          <div class="tabs_range-year">
                            <div fs-rangeslider-step="1" fs-rangeslider-element="wrapper" fs-rangeslider-min="2000"
                              fs-rangeslider-max="2024" class="fs-rangeslider_wrapper">
                              <div fs-rangeslider-element="track" class="fs-rangeslider_track">
                                <div fs-rangeslider-element="handle" class="fs-rangeslider_handle"></div>
                                <div fs-rangeslider-element="handle" class="fs-rangeslider_handle"></div>
                                <div fs-rangeslider-element="fill" class="fs-rangeslider_fill"></div>
                              </div>
                              <input class="fs-rangeslider_input w-input" maxlength="256" name="minYear"
                                fs-cmsfilter-field="year" data-name="minYear" fs-cmsfilter-range="minYear"
                                placeholder="minYear" type="text" id="minYear">
                              <input class="fs-rangeslider_input w-input" maxlength="256" name="maxYear"
                                fs-cmsfilter-field="year" data-name="maxYear" fs-cmsfilter-range="maxYear"
                                placeholder="maxYear" type="text" id="maxYear">
                              <div class="fs-range_values">
                                <div><span fs-rangeslider-element="display-value">0</span></div>
                                <div><span fs-rangeslider-element="display-value">0</span></div>
                              </div>
                            </div>
                          </div>

                          <button class="button-primary" id="filterRange">Filter</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter_checkbox-wrapper">
                  <div class="filter-title space-between">
                    <h3 class="text-size-medium text-weight-semibold text-color-secondary_900">Source Title</h3><img
                      src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" alt="FAQ Arrow"
                      class="filter-icon">
                  </div>
                  <div class="filter_checkbox-content"><input class="field-input margin-bottom margin-small w-input"
                      maxlength="256" name="Search-Publication" data-name="Search Publication"
                      placeholder="Search for source title ..." type="text" id="search_source_title">
                    <div class="radio-list" id="source_title">
                      {% for source_title in articles['aggrs']['journal']%}
                      <label class="radio-filter w-radio">
                        <div
                          class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-button w-radio-input">
                        </div><input type="radio" data-name="source_title" id="{{source_title['_id']}}"
                          name="source_title" style="opacity:0;position:absolute;z-index:-1"
                          value="{{source_title['_id']}}" onchange="updateFilterWithSource(this.value)"><span
                          class="w-form-label" for="radio-6">{{source_title['_id']}}</span>
                      </label>
                      {%endfor%}
                    </div>
                  </div>
                </div>
                <div class="filter_checkbox-wrapper">
                  <div class="filter-title space-between">
                    <h3 class="text-size-medium text-weight-semibold text-color-secondary_900">Authors</h3><img
                      src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" alt="FAQ Arrow"
                      class="filter-icon">
                  </div>
                  <div class="filter_checkbox-content"><input class="field-input margin-bottom margin-small w-input"
                      maxlength="256" name="Search-Creator" data-name="Search Creator"
                      placeholder="Search for author name ..." type="text" id="search_source_creator">
                    <div class="radio-list" id="search_creator">
                      {% for creator in articles['aggrs']['creators']%}
                      <label class="radio-filter w-radio">
                        <div
                          class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-button w-radio-input">
                        </div><input type="radio" data-name="creators" id="{{creator['_id']}}['name']" name="creators"
                          style="opacity:0;position:absolute;z-index:-1" value="{{creator['_id']['name']}}"
                          onchange="updateFilterWithCreator(this.value)"><span class="w-form-label"
                          for="radio-6">{{creator['_id']['name']}}</span>
                      </label>
                      {%endfor%}
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div id="w-node-beff68d9-3772-b82a-6a2d-e44cc60c4769-3d5029ba" class="article_content-wrapper">
          <div data-w-id="827a58bd-2b6c-7a2a-f693-9ea0d0090b8f" style="opacity:0" class="article_sort-wrapper">
            <h3 class="text-size-medium text-weight-semibold text-color-secondary_900">{{
              articles['total']|format_number
              }} Article Results</h3>

            <div class="article_sort-form w-form">
              <select id="sort-by" name="sort-by" data-name="Field" class="field-input is-select w-select">
                <option value="relevance">Relevance</option>
                <option value="publish_at" data-order="desc">Newest</option>
                <option value="publish_at" data-order="asc">Oldest</option>
              </select>
              <select id="pagination" name="pagination" data-name="Field" class="field-input is-select w-select">
                <option value="15">15</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <button class="button-secondary" style="flex: none;display: none;" id="resetFilter">Reset Filter</button>

            </div>
          </div>
          <div class="article_collection-wrapper w-dyn-list">
            <div role="list" class="article_list-wrapper w-dyn-items">
              {%for article in articles['articles']%}
              <div data-w-id="8eeda3f2-486a-e3f7-6aed-9c52d797a008" style="opacity:0" role="listitem"
                class="article_collection-item w-dyn-item">
                <a href="{{url_for('articles.article_detail', id=article['_id'])}}"
                  class="article_item-wrapper w-inline-block">
                  <div class="article_title-wrapper">
                    <h3 class="text-size-large">{{article['title']}}</h3>
                    <div class="text-size-small">{{article['doi']}}</div>
                    <div class="">
                      {% set creators = article['creators'] %}
                      {% for index in range(creators|length) %}
                      <span class="author_name">{{ creators[index]['name']}}</span>
                      {% if index < (creators|length - 1) %} <span>, </span>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="line-clamp-3">{{article['description']}}</div>
                  <div class="article_detail-content">
                    <div class="article_page-detail">
                      <div class="article_page-wrapper">
                        <div class="text-size-small">Volume: {{article['volume']}}</div>
                      </div>
                      <div class="article_page-wrapper">
                        <div class="text-size-small">Issue: {{article['issue']}}</div>
                      </div>
                      <div class="article_page-wrapper">
                        <div class="text-size-small">Page: {{article['pages']}}</div>
                      </div>
                      <div class="article_page-wrapper">
                        <div class="text-size-small">Publish at: {{article['publish_at']}}</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {%endfor%}
              {% if articles|length == 0 %}
              <div class="w-dyn-empty">
                <div>No items found.</div>
              </div>
              {%endif%}
            </div>

          </div>
          <div class="pagination-wrapper">
            <a href="{{ update_query(articles['current_page'] - 1) }}" aria-label="Pagination"
              class="{{ 'is-disable' if articles['current_page'] <= 1 else 'is-active' }} button-pagination w-inline-block">
              <div class="icon-button w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="16"
                  viewbox="0 0 10 16" fill="none">
                  <path
                    d="M9.03033 0.469792C9.2966 0.736059 9.3208 1.15272 9.10295 1.44633L9.03033 1.53045L2.561 8.00012L9.03033 14.4698C9.2966 14.7361 9.3208 15.1527 9.10295 15.4463L9.03033 15.5305C8.76406 15.7967 8.3474 15.8209 8.05379 15.6031L7.96967 15.5305L0.96967 8.53045C0.703403 8.26418 0.679197 7.84752 0.897052 7.55391L0.96967 7.46979L7.96967 0.469792C8.26256 0.176899 8.73744 0.176899 9.03033 0.469792Z"
                    fill="currentColor"></path>
                </svg></div>
            </a>
            <div class="pagination_number-wrapper">
              {% if articles['total_pages'] > 1 %}
              {% if articles['total_pages'] <= 4 %} {% for i in range(1, articles['total_pages'] + 1) %} <a
                href="{{ update_query(i) }}"
                class="{{ 'is-active' if articles['current_page'] == i else '' }} button-pagination is-number w-inline-block">
                {{ i
                }}</a>
                {% endfor %}
                {% else %}
                {% for i in range(1, 4) %}
                <a href="{{ update_query(i) }}"
                  class="{{ 'is-active' if articles['current_page'] == i else '' }} button-pagination is-number w-inline-block">{{
                  i
                  }}</a>
                {% endfor %}
                <div class="button-pagination is-number w-inline-block">...</div>
                <a href="{{ update_query(articles['total_pages'] - 1) }}"
                  class="{{ 'is-active' if articles['current_page'] == articles['total_pages'] - 1 else '' }} button-pagination is-number w-inline-block">{{
                  articles['total_pages'] - 1 }}</a>
                <a href="{{ update_query(articles['total_pages']) }}"
                  class="{{ 'is-active' if articles['current_page'] == articles['total_pages'] else '' }} button-pagination is-number w-inline-block">{{
                  articles['total_pages'] }}</a>
                {% endif %}
                {% endif %}
            </div>

            <a aria-label="Pagination" href="{{ update_query(articles['current_page'] + 1) }}"
              class="{{ 'is-disable' if articles['current_page'] >= articles['total_pages'] else 'is-active' }} button-pagination  w-inline-block">
              <div class="icon-button w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="16"
                  viewbox="0 0 10 16" fill="none">
                  <path
                    d="M0.96967 15.5305C0.703403 15.2642 0.679197 14.8475 0.897052 14.5539L0.96967 14.4698L7.439 8.00012L0.96967 1.53045C0.703403 1.26418 0.679197 0.847522 0.897052 0.55391L0.96967 0.469792C1.23594 0.203526 1.6526 0.179319 1.94621 0.397174L2.03033 0.469792L9.03033 7.46979C9.2966 7.73606 9.3208 8.15272 9.10295 8.44633L9.03033 8.53045L2.03033 15.5305C1.73744 15.8233 1.26256 15.8233 0.96967 15.5305Z"
                    fill="currentColor"></path>
                </svg></div>
            </a>
          </div>
          <div class="pagination_info-wrapper">
            <div class="text-size-small">Show {{ articles['current_page'] }} of {{ articles['total_pages'] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%include 'frontend/components/cta.html'%}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const paginationSelect = document.getElementById('pagination');
    const sortBySelect = document.getElementById('sort-by');

    function getQueryParam(name) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(name);
    }

    function updateURLParams(params, removeOtherParams = false) {
      const url = new URL(window.location);
      for (const paramName in params) {
        if (params[paramName] !== '') {
          url.searchParams.set(paramName, params[paramName]);
        } else {
          url.searchParams.delete(paramName);
        }
      }
      if (removeOtherParams) {
        url.searchParams.delete('sort_order');
      }
      window.location.href = url.toString();
    }

    if (paginationSelect) {
      paginationSelect.addEventListener('change', function () {
        updateURLParams({ 'per_page': this.value }, true);
      });
    }

    if (sortBySelect) {
      sortBySelect.addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const params = { 'sort_field': selectedOption.value };

        if (selectedOption.value === 'publish_at') {
          const sortOrder = selectedOption.getAttribute('data-order');
          params['sort_order'] = sortOrder;
        } else {
          params['sort_order'] = '';
        }

        updateURLParams(params, selectedOption.value !== 'publish_at');
      });
    }



    const setSelectOptionFromQueryParam = (selectElement, queryParam) => {
      const value = getQueryParam(queryParam);
      if (value && selectElement) {
        for (const option of selectElement.options) {
          const isSortOrderMatch = queryParam === 'sort_order' && option.getAttribute('data-order') === value;
          if (option.value === value || isSortOrderMatch) {
            option.selected = true;
            break;
          }
        }
      }
    };

    setSelectOptionFromQueryParam(paginationSelect, 'per_page');
    setSelectOptionFromQueryParam(sortBySelect, 'sort_field');
    setSelectOptionFromQueryParam(sortBySelect, 'sort_order');
  });
</script>



<script>
  document.addEventListener('DOMContentLoaded', function () {

    const form = document.getElementById('search-form');
    const baseURL = "{{ url_for('articles.articles') }}";


    form.addEventListener('submit', function (event) {
      event.preventDefault();

      const searchValue = document.querySelector('[name="Search"]').value;

      const destinationURL = `${baseURL}?search=${searchValue}`;


      window.location.href = destinationURL;
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    function getQueryParam(param) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(param);
    }



    const searchValue = getQueryParam('search');

    const searchWithValue = getQueryParam('searchWithin');

    const creatorParam = getQueryParam('creator');

    const sourceParam = getQueryParam('source_title');



    if (creatorParam) {
      const creatorRadios = document.querySelectorAll('input[name="creators"]');

      creatorRadios.forEach(function (radio) {
        if (radio.value === decodeURIComponent(creatorParam)) {
          const customDiv = radio.previousElementSibling;
          if (customDiv && customDiv.classList.contains('w-form-formradioinput')) {
            customDiv.classList.add('w--redirected-checked');
          }
        }
      });
    }

    if (sourceParam) {
      const sourceRadios = document.querySelectorAll('input[name="source_title"]');

      sourceRadios.forEach(function (radio) {
        if (radio.value === decodeURIComponent(sourceParam)) {
          const customDiv = radio.previousElementSibling;
          if (customDiv && customDiv.classList.contains('w-form-formradioinput')) {
            customDiv.classList.add('w--redirected-checked');
          }
        }
      });
    }

    if (searchValue) {
      const searchInput = document.getElementById('Search');
      if (searchInput) {
        searchInput.value = searchValue;
      }

    }

    if (searchWithValue) {
      const searchArticleInput = document.getElementById('Search-Article');
      if (searchArticleInput) {
        searchArticleInput.value = searchValue;
      }
    }
  });
  const filterRange = document.getElementById("filterRange");

  function updateFilterWithRangeYear() {
    const minYear = document.getElementById('minYear').value;
    const maxYear = document.getElementById('maxYear').value;

    const newQueryString = `?minYear=${minYear}&maxYear=${maxYear}`;

    window.location.href = newQueryString
  }

  filterRange.addEventListener('click', updateFilterWithRangeYear);


  function updateFilterWithYear(year) {
    var currentUrl = window.location.href;
    var newUrl = new URL(currentUrl);
    newUrl.searchParams.set('singleYear', year);
    window.location.href = newUrl;
  }

  function updateFilterWithSource(year) {
    var currentUrl = window.location.href;
    var newUrl = new URL(currentUrl);
    newUrl.searchParams.set('source_title', year);
    window.location.href = newUrl;
  }

  function updateFilterWithCreator(year) {
    var currentUrl = window.location.href;
    var newUrl = new URL(currentUrl);
    newUrl.searchParams.set('creator', year);
    window.location.href = newUrl;
  }

  document.getElementById('search_source_title').addEventListener('input', function (e) {
    var searchValue = e.target.value.toLowerCase();
    var radios = document.getElementById('source_title').getElementsByTagName('label');
    for (var i = 0; i < radios.length; i++) {
      var radioLabel = radios[i].textContent.toLowerCase();
      if (radioLabel.includes(searchValue)) {
        radios[i].style.display = '';
      } else {
        radios[i].style.display = 'none';
      }
    }
  });

  document.getElementById('search_source_creator').addEventListener('input', function (e) {
    var searchValue = e.target.value.toLowerCase();
    var radios = document.getElementById('search_creator').getElementsByTagName('label');
    for (var i = 0; i < radios.length; i++) {
      var radioLabel = radios[i].textContent.toLowerCase();
      if (radioLabel.includes(searchValue)) {
        radios[i].style.display = '';
      } else {
        radios[i].style.display = 'none';
      }
    }
  });

  document.getElementById('Search-Article').addEventListener('keypress', function (event) {
    if (event.key === 'Enter') {
      event.preventDefault();
      var searchValue = this.value;
      var currentUrl = window.location.href;
      var newUrl = new URL(currentUrl);
      newUrl.searchParams.set('searchWithin', searchValue);
      window.location.href = newUrl;
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    function setIfQueryParamExists(queryParam, elementId) {
      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has(queryParam)) {
        var value = urlParams.get(queryParam);
        document.getElementById(elementId).value = value;
      }
    }

    setIfQueryParamExists('source_title', 'search_source_title');

    setIfQueryParamExists('source_creator', 'search_source_creator');

    setIfQueryParamExists('searchWithin', 'Search-Article');
  });

</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function checkQueryParams(params) {
      return params.some(param => new URLSearchParams(window.location.search).has(param));
    }

    const queryParams = ['search', 'advancedQuery', 'creator', 'source_title', 'minYear', 'maxYear', 'singleYear', 'searchWithin'];

    if (checkQueryParams(queryParams)) {
      document.getElementById('resetFilter').style.display = 'flex';
    } else {
      document.getElementById('resetFilter').style.display = 'none';
    }

    document.getElementById('resetFilter').addEventListener('click', function () {
      const url = new URL(window.location);
      queryParams.forEach(param => {
        url.searchParams.delete(param);
      });

      window.location.href = url;

      document.getElementById('resetFilter').style.display = 'none';
    });

  });
</script>


{% endblock %}