{% extends 'frontend/layout/main-layout.html' %}
{% block html %}
<html data-wf-page="659faa699f7ba4cee4e7b06d" data-wf-site="659ac690a512d75c923b3d93" lang="en">
{% endblock %}
{% block header %}
{% block meta_title %}Home {% endblock %}
{% block meta_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block og_title %}Home {% endblock %}
{% block og_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block twitter_title %}Home {% endblock %}
{% block twitter_description %}Access the latest knowledge in applied science, electrical engineering, computer science
and information technology,
education, and health. {% endblock %}

{% endblock %}

{% block content %}
<section class="section_hero-about">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="hero_about-wrapper">
        <div class="hero_about-detail">
          <div class="max-width-medium">
            <div class="margin-bottom margin-small">
              <h1 data-w-id="c6008726-a807-f06d-0ad2-0b8153800e01" style="opacity:0"
                class="heading-style-h1 text-color-white">FAQs</h1>
            </div>
            <h2 data-w-id="b827f36e-4fce-1e68-3111-5217413cdb32" style="opacity:0"
              class="text-size-medium text-weight-regular text-color-secondary_100">Coming Soon</h2>
          </div>
          <div class="max-width-medium"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_faqs">
  <div class="container-small">
    <div class="padding-section-large">
      <div class="section_title-wrapper">
        <h3 data-w-id="19648ba2-0b6b-c91b-3fad-e651247ae9d8" style="opacity:0"
          class="heading-style-h3 text-align-center text-color-secondary_900">Quetions<br></h3>
        <div data-w-id="19648ba2-0b6b-c91b-3fad-e651247ae9db" style="opacity:0" class="text-align-center">Explore our
          selection of top research articles from various fields.</div>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="1fb1f992-93a3-b35f-38f2-83e1c9984b5c" style="opacity:0" class="faq_quetions-wrapper">
          <div data-w-id="12705d24-47be-2321-647c-6d6145e00256" class="faq_quetions">
            <h4 class="heading-style-h4 text-weight-semibold text-color-secondary_900">Heading</h4><img
              src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" width="96" height="96"
              alt="FAQ Arrow"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              class="faq-icon">
          </div>
          <div style="width:100%;height:0%;display:none;opacity:0" class="faq_answer">
            <div class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
              commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
              sem vitae risus tristique posuere.</div>
          </div>
        </div>
        <div data-w-id="9240fecb-1854-76cc-08ca-f83acecb1dea" style="opacity:0" class="faq_quetions-wrapper">
          <div data-w-id="9240fecb-1854-76cc-08ca-f83acecb1deb" class="faq_quetions">
            <h4 class="heading-style-h4 text-weight-semibold text-color-secondary_900">Heading</h4><img
              src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" width="96" height="96"
              alt="FAQ Arrow"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              class="faq-icon">
          </div>
          <div style="width:100%;height:0%;display:none;opacity:0" class="faq_answer">
            <div class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
              commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
              sem vitae risus tristique posuere.</div>
          </div>
        </div>
        <div data-w-id="6812447e-04b0-8093-666a-6becebf455bb" style="opacity:0" class="faq_quetions-wrapper">
          <div data-w-id="6812447e-04b0-8093-666a-6becebf455bc" class="faq_quetions">
            <h4 class="heading-style-h4 text-weight-semibold text-color-secondary_900">Heading</h4><img
              src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" width="96" height="96"
              alt="FAQ Arrow"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              class="faq-icon">
          </div>
          <div style="width:100%;height:0%;display:none;opacity:0" class="faq_answer">
            <div class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
              commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
              sem vitae risus tristique posuere.</div>
          </div>
        </div>
        <div data-w-id="80c72fd4-7b51-18a3-f44b-f69c68b662cd" style="opacity:0" class="faq_quetions-wrapper">
          <div data-w-id="80c72fd4-7b51-18a3-f44b-f69c68b662ce" class="faq_quetions">
            <h4 class="heading-style-h4 text-weight-semibold text-color-secondary_900">Heading</h4><img
              src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" width="96" height="96"
              alt="FAQ Arrow"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              class="faq-icon">
          </div>
          <div style="width:100%;height:0%;display:none;opacity:0" class="faq_answer">
            <div class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
              commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
              sem vitae risus tristique posuere.</div>
          </div>
        </div>
        <div data-w-id="5b7f9dee-a03c-ae4a-6dae-6bde8410b98c" style="opacity:0" class="faq_quetions-wrapper">
          <div data-w-id="5b7f9dee-a03c-ae4a-6dae-6bde8410b98d" class="faq_quetions">
            <h4 class="heading-style-h4 text-weight-semibold text-color-secondary_900">Heading</h4><img
              src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" width="96" height="96"
              alt="FAQ Arrow"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              class="faq-icon">
          </div>
          <div style="width:100%;height:0%;display:none;opacity:0" class="faq_answer">
            <div class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
              commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
              sem vitae risus tristique posuere.</div>
          </div>
        </div>
        <div data-w-id="f9d8194a-827d-b3f3-5d99-a9a49913a958" style="opacity:0" class="faq_quetions-wrapper">
          <div data-w-id="f9d8194a-827d-b3f3-5d99-a9a49913a959" class="faq_quetions">
            <h4 class="heading-style-h4 text-weight-semibold text-color-secondary_900">Heading</h4><img
              src="{{url_for('static', filename='images/Arrow---Down-2.webp')}}" loading="lazy" width="96" height="96"
              alt="FAQ Arrow"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              class="faq-icon">
          </div>
          <div style="width:100%;height:0%;display:none;opacity:0" class="faq_answer">
            <div class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
              commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
              sem vitae risus tristique posuere.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%include 'frontend/components/cta.html'%}
{% endblock %}