{% extends 'frontend/layout/main-layout.html' %}
{% block html %}
<html data-wf-page="659faa4675def61839e0c2e7" data-wf-site="659ac690a512d75c923b3d93" lang="en">
{% endblock %}
{% block header %}
{% block meta_title %}Home {% endblock %}
{% block meta_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block og_title %}Home {% endblock %}
{% block og_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block twitter_title %}Home {% endblock %}
{% block twitter_description %}Access the latest knowledge in applied science, electrical engineering, computer science
and information technology,
education, and health. {% endblock %}

{% endblock %}

{% block content %}
<section class="section_hero-about">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="hero_about-wrapper">
        <div class="hero_about-detail">
          <div class="max-width-medium">
            <div class="margin-bottom margin-small">
              <h1 data-w-id="c6008726-a807-f06d-0ad2-0b8153800e01" style="opacity:0"
                class="heading-style-h1 text-color-white">Privacy Policy</h1>
            </div>
            <h2 data-w-id="b827f36e-4fce-1e68-3111-5217413cdb32" style="opacity:0"
              class="text-size-medium text-weight-regular text-color-secondary_100">January 12, 2024</h2>
          </div>
          <div class="max-width-medium"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_terms-privacy">
  <div class="container-small">
    <div class="padding-section-large">
      <div data-w-id="1d0d93fa-a14f-d2b0-85fc-d2c8804e3157" style="opacity:0" class="rich_text-content w-richtext">
        <h3>Information Collection</h3>
        <p>We collect certain personal information from our users, including but not limited to names, email addresses,
          and other contact information.</p>
        <h3>Use of Information</h3>
        <p>The collected information may be used to provide services, personalize user experiences, and conduct internal
          business activities.</p>
        <h3>Security</h3>
        <p>We are committed to maintaining the security of our users&#x27; personal information and take reasonable
          security measures to protect it from unauthorized access, use, or disclosure.</p>
        <h3>Cookies and Tracking Technologies</h3>
        <p>We utilize tracking technologies such as cookies to enhance user experiences and understand how users
          interact with our services.</p>
        <h3>Sharing Information with Third Parties</h3>
        <p>Personal information will not be sold, rented, or exchanged with third parties without user consent, except
          as required by law.</p>
      </div>
    </div>
  </div>
</section>
{%include 'frontend/components/cta.html'%}
{% endblock %}