{% extends 'frontend/layout/main-layout.html' %}
{% block html %}
<html data-wf-page="65a0ef7880a6cb4ad5a6567b" data-wf-site="659ac690a512d75c923b3d93" lang="en">
{% endblock %}
{% block header %}
{% block meta_title %} {{journal['title']}} {% endblock %}
{% block meta_description %}{{journal['short_summary']}}
education, and health. {% endblock %}
{% block og_title %}{{journal['title']}} {% endblock %}
{% block og_description %}{{journal['short_summary']}} {% endblock %}
{% block twitter_title %}Ho{{journal['title']}}me {% endblock %}
{% block twitter_description %}{{journal['short_summary']}}{% endblock %}


{% endblock %}

{% block content %}

<section class="section_hero-article">
    <div class="container-large">
        <div class="padding-section-small">
            <div class="hero_article-wrapper">
                <div class="hero_article-detail">
                    <div class="max-width-medium">
                        <div data-w-id="5b386017-89de-6131-d804-3a740ecb1490" style="opacity:0"
                            class="publication_main-wrapper shadow-medium"><img loading="lazy"
                                src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                                alt="" class="publication_main-image"></div>
                        <div class="margin-bottom margin-small">
                            <h1 data-w-id="4073bb72-b2d1-ac27-59c0-0bbc4925d43b" style="opacity:0"
                                class="heading-style-h1 text-color-white"></h1>
                        </div>
                        <div class="margin-bottom margin-medium">
                            <div class="issn_content-wrapper">
                                <div data-w-id="29ac3877-b1c6-21fb-d3b1-5377978a0751" style="opacity:0"
                                    class="text-size-small text-color-white"></div>
                                <div data-w-id="5e2c7550-84c1-a806-3ba2-84292fbd18d2" style="opacity:0"
                                    class="text-size-small text-color-white"></div>
                            </div>
                        </div>
                        <h2 data-w-id="4073bb72-b2d1-ac27-59c0-0bbc4925d449" style="opacity:0"
                            class="text-size-medium text-weight-regular text-color-secondary_100"></h2>
                        <div data-w-id="baa61deb-5e4b-202d-8ae4-4b815e1a49e8" style="opacity:0"
                            class="margin-top margin-medium">
                            <a href="#" class="button-secondary w-inline-block">
                                <div>Read More</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_publication-details">
    <div class="container-large">
        <div class="padding-section-small">
            <div class="publications_detail-wrapper">
                <div class="max-width-large">
                    <div id="w-node-_4073bb72-b2d1-ac27-59c0-0bbc4925d45d-d5a6567b"
                        data-w-id="4073bb72-b2d1-ac27-59c0-0bbc4925d45d" style="opacity:0" class="article-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                            commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
                            imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                        <div class="rich_text-publication w-richtext"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%include 'frontend/components/cta.html'%}
{% endblock %}