{% extends 'frontend/layout/main-layout.html' %}
{% block html %}
<html data-wf-page="659faa5b570937654807f049" data-wf-site="659ac690a512d75c923b3d93" lang="en">
{% endblock %}
{% block header %}
{% block meta_title %}Home {% endblock %}
{% block meta_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block og_title %}Home {% endblock %}
{% block og_description %}Access the latest knowledge in applied science, electrical engineering, computer science and
information technology,
education, and health. {% endblock %}
{% block twitter_title %}Home {% endblock %}
{% block twitter_description %}Access the latest knowledge in applied science, electrical engineering, computer science
and information technology,
education, and health. {% endblock %}

{% endblock %}

{% block content %}
<section class="section_hero-about">
  <div class="container-large">
    <div class="padding-section-small">
      <div class="hero_about-wrapper">
        <div class="hero_about-detail">
          <div class="max-width-medium">
            <div class="margin-bottom margin-small">
              <h1 data-w-id="c6008726-a807-f06d-0ad2-0b8153800e01" style="opacity:0"
                class="heading-style-h1 text-color-white">Conference</h1>
            </div>
            <h2 data-w-id="b827f36e-4fce-1e68-3111-5217413cdb32" style="opacity:0"
              class="text-size-medium text-weight-regular text-color-secondary_100">January 12, 2024</h2>
          </div>
          <div class="max-width-medium"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_terms-privacy">
  <div class="container-small">
    <div class="padding-section-large">
      <div data-w-id="341e3dd0-1d6e-1652-501f-83b3f99db323" style="opacity:0" class="rich_text-content w-richtext">
        <h3>Use of Services</h3>
        <p>The use of our services is subject to the terms and conditions outlined in this document. By using our
          services, users are deemed to agree to all these terms and conditions.</p>
        <h3>Limitation of Liability</h3>
        <p>We are not responsible for any loss or damage arising from the use of our services or information provided
          through our services.</p>
        <h3>Cancellation and Refund</h3>
        <p>The cancellation and refund policy is detailed, including procedures and applicable conditions.</p>
        <h3>Intellectual Property Rights</h3>
        <p>All intellectual property rights related to our services remain our property, and users agree not to use or
          reproduce such materials without written permission.</p>
        <h3>Changes to Terms and Conditions</h3>
        <p>We reserve the right to change these terms and conditions without prior notice. Such changes will be
          effective immediately upon being published on our website.</p>
      </div>
    </div>
  </div>
</section>
{%include 'frontend/components/cta.html'%}
{% endblock %}