{% extends 'dashboard-layout.html' %} {% block header %}
<h1>{% block title %}Edit Article{% endblock %}</h1>
{% endblock %} {% block content %}

<section class="section_dashboard">
    <div class="title-wrapper">
        <h2>Edit Article</h2>
    </div>

    <div class="content-wrapper">
        <div class="form-content">
            <div class="field-wrapper">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="input-field" />
                <span class="error-message" id="title-error-message"></span>
            </div>
            <div class="field-wrapper">
                <label for="doi">DOI</label>
                <input type="text" id="doi" name="doi" class="input-field" />
                <span class="error-message" id="doi-error-message"></span>
            </div>
            <div class="grid-col-3">
                <div class="field-wrapper">
                    <label for="volume">Volume</label>
                    <input type="text" id="volume" name="volume" class="input-field" />
                    <span class="error-message" id="volume-error-message"></span>
                </div>
                <div class="field-wrapper">
                    <label for="issue">Issue</label>
                    <input type="text" id="issue" name="issue" class="input-field" />
                    <span class="error-message" id="issue-error-message"></span>
                </div>
                <div class="field-wrapper">
                    <label for="pages">Pages</label>
                    <input type="text" id="pages" name="pages" class="input-field" />
                    <span class="error-message" id="pages-error-message"></span>
                </div>
            </div>
            <div class="field-wrapper">
                <label for="abstract">Abstract</label>
                <textarea id="abstract" name="abstract" class="input-field"></textarea>
            </div>
            <div class="field-wrapper">
                <label for="fulltext">Full Text</label>
                <textarea id="fulltext" name="fulltext" class="input-field"></textarea>
            </div>
            <div class="field-wrapper">
                <label for="pdf">PDF</label>
                <div class="input-file-wrapper">
                    <input type="file" id="file" name="file" class="input-file" accept="application/pdf" />
                    <input type="hidden" id="file_url" name="file_url" class="input-file" />
                    <div class="file-input">
                        <div class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M8 7H12M8 11H16M8 15H16M5 2H19C20.1046 2 21 2.89543 21 4V19.1543C21 20.5396 19.6259 21.5053 18.3226 21.0361L16.7608 20.4739C16.2728 20.2982 15.7356 20.319 15.2626 20.5318L12.8207 21.6307C12.2988 21.8655 11.7012 21.8655 11.1793 21.6307L8.73737 20.5318C8.26439 20.319 7.72721 20.2982 7.2392 20.4739L5.67744 21.0361C4.37412 21.5053 3 20.5396 3 19.1543V4C3 2.89543 3.89543 2 5 2Z"
                                    stroke="#28303F" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                        </div>
                        <span id="fileName">Select PDF</span>
                    </div>
                </div>
                <span class="error-message" id="file-error-message"></span>
            </div>

            <div class="field-wrapper">
                <button type="submit" aria-pressed="true">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>

</section>
<script>
    new RichTextEditor("#abstract");
    new RichTextEditor("#fulltext");
</script>
<script src="{{ url_for('static', filename='javascripts/validation/validation.js') }}"></script>

{% endblock %}