<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Digital Library" />
  <meta name="author" content="DDV" />
  <title>{% block title %}{% endblock %} - IPMUGO Digital Library</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo-color.svg') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>